/*
 * Use media queries to adjust font sizes when we are not using device detection.
 * This file is meant to be included after allDevices.css .
 */
h1, h2, tr, th, td {
	margin: 0.2em;
	padding: 0.2em;
}
h3 {
	margin-bottom: 0em;
	margin-top: 0em;
}

p, a, ul, li, td, blockquote {
	margin-bottom: 0.0em;
}
p, ul, ol, table, blockquote {
	width: 75%;
}
/*
 * styles for a phone-sized screen or window
 */
@media only screen and (max-width: 1000px) {
	body {
		background-color: black;
		color: white;
	}
	div#container {
		margin-top:    2.0em;
		margin-left:   2.0em;
		margin-right:  2.0em;
	}
	th, td {
		padding: 0.6em;
	}
	a, a:hover {
		color: lightskyblue;
		padding: 0.5em;
	}
	a:hover {
		border: lightskyblue inset 4px;
	}
}
@media only screen and (max-width: 1000px) and (orientation:landscape) {
	h1, h2, th, h3,	p, dl, a, ul, td {
		line-height: 140%;
	}
	h1 {
		font-size: 2.0em ;
	}
	h2 {
		font-size: 1.75em;
	}
	h3, th {
		font-size: 1.5em;
	}
	p, dl, a, ul, td {
		font-size: 1.0em;
	}
}
@media only screen and (max-width: 1000px) and (orientation:portrait) {
	h1, h2, th, h3,	p, dl, a, ul, td {
		line-height: 150%;
	}
	h1 {
		font-size: 3.0em ;
	}
	h2 {
		font-size: 2.75em;
	}
	h3, th {
		font-size: 2.5em;
	}
	p, dl, ul, td {
		font-size: 2.0em;
	}
	a {
		font-size: 1.0em;
	}
}

/*
 * styles for a laptop-sized screen or window
 */
@media only screen and (min-width: 1000px) {
	body {
		background-color: white;
		color: black;
	}
	div#container {
		margin-top:    5.0em;
		margin-left:   5.0em;
		margin-right:  5.0em;
	}
	h1, h2, th, h3,	p, dl, a, ul, td {
		line-height: 130%;
	}
	h1 {
		font-size:   2.0em;
	}
	h2 {
		font-size:   1.75em;
	}
	h3, th {
		font-size:   1.50em;
	}
	p, dl, a, ul, td {
		font-size: 1.0em;
	}
}
