#
# Documentation is here: http://git-scm.com/docs/gitignore
#
/unpack/
tmp/

#
# I like to switch between vim, eclipse, and netbeans
#
*.swp
.project
.settings/
gadget_detectors/.buildpath
gadget_detectors/.project
/nbproject/

#
# Ignore third-party code
#
/gadget_detectors/detect_mobile_browsers/php/detectmobilebrowser.php.txt
/gadget_detectors/mobile_detect/Mobile-Detect/
/gadget_detectors/tera_wurfl/Tera-Wurfl/wurfl-dbapi*

